.button-container {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping if there are too many buttons */
    justify-content: center; /* Center the buttons horizontally */
    align-items: center; /* Center the buttons vertically */
    overflow-y: auto;
    max-height: 80vh;
    width: 100%;
}

button {
    margin: 15px; /* Add margin to separate buttons */
    background-color: #333;
    color: white;
    border: 2px solid #555;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    width: auto; /* Allow buttons to take their natural width */
    border-radius: 5px;
}
